@{
    ViewData["Title"] = "Junior";
    ViewData["CSSFile"] = "~/css/Dashboard.css";
    ViewData["JSFile"] = "~/js/Dashboard.js";
    ViewData["JSFile2"] = "~/js/ViewPost.js";
}
<!--BANNER-->
<div class="banner">
    <img src="~/img/Covers/Cover-Junior.png" alt="Junior Cover">
    <a asp-controller="Dashboard" asp-action="Homepage" target="_self" class="btn btn-info btn-md center blueButton btnHome">
        <i class="fa-solid fa-chevron-left" style="margin-right:10px;"></i>
        Back to Homepage
    </a>
</div>

<!--TITLE SECTION-->
<div id="top"></div>
<div class="row titleSection dashboard" id="dashboard">
    <a href="#top" class="scrollToTopContainer" id="up-icon">
        <div class="main">
            <div class="scrollToTop fa-solid fa-chevron-up"></div>
        </div>
    </a>
    <a href="#dashboard" style="color:white; padding-bottom:0px;" id="linkDashboard" onclick="clickDashboard()">
        <div>
            <div style="line-height:38px;" id="title">DASHBOARD</div>
            <div class="fa-solid fa-chevron-down text-muted displayed" style="font-size:25px;" id="down-icon"></div>
        </div>
    </a>
</div>

<!--User Posts-->
<div class="col-lg-5 userPosts">
    <!--Create Post-->
    <div class="card userPostsCard">
        <div class="card-header createPostHeader" style="min-height:60px;">
            <div class="createPost">
                <div style="float:left; display:inline-block;">
                    <div class="profilePicCreatePost">
                        <img src="~/img/avatars/Avatar2.png" class="profileImage">
                    </div>
                </div>
                <div class="btnCreatePost">
                    <button type="button" class="btn btn-light btn-md whiteButton text-muted btnCreatePostLink" data-toggle="modal" data-target="#createPostModal">Share to Thomasians...</button>
                </div>
            </div>
        </div>
    </div>

    <h5 class="text-muted subtitle">Popular Recently</h5>
    <!--1st Post-->
    <div class="card userPostsCard">
        <div class="card-header" style="min-height:60px; position: relative;">
            <a asp-controller="Dashboard" asp-action="Post" class="navbar-brand card-header-link"></a>
            <div class="infoPost">
                <div style="float:left; display:inline-block;">
                    <a asp-controller="Profile" asp-action="Index" style="pointer-events:auto; position: relative;">
                        <div class="profilePicPost">
                            <img src="~/img/avatars/Avatar2.png" class="profileImage" id="uploadProfilePicture-previewImg">
                        </div>
                    </a>
                </div>
                <div class="userInfo">
                    <span class="usernamePost btn"><a asp-controller="Profile" asp-action="Index" style="display:inline-block; pointer-events:auto; position: relative;">Username</a></span>
                    <span class="datePost">Posted on 11/04/23</span>
                </div>
            </div>
        </div>
        <div>
            <div class="row cardInfo postCardInfo">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div style="max-height:600px; overflow:hidden;vertical-align: middle;">
                <div id="postCarousel" class="carousel" data-ride="carousel">
                    <a asp-controller="Dashboard" asp-action="Post" class="carousel-indicators" style="top:20px; justify-content:end;">
                        <div class="num indicatorBG"></div>
                    </a>
                    <div class="carousel-inner" style="max-height:600px; display:flex; align-items:center;">
                        <div class="blurredBG"></div>

                        <div class="carousel-item active">
                            <img src="../img/Sample_Banner.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img src="../img/BG/BG_Index.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img src="../img/BG/BG_Login.png" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img src="../img/Sample_Banner2.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#postCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#postCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-footer row">
            <div class="col-6">
                <button class="btn btnLike" for="like"><i class="fa-solid fa-thumbs-up" style="margin-right:10px;"></i>Like</button>
            </div>
            <div class="col-6">
                <a asp-controller="Dashboard" asp-action="Post" class="btn btnComment" for="comment"><i class="fa-solid fa-comment" style="margin-right:10px;"></i>Comment</a>
            </div>
        </div>
    </div>
    <!--2nd Post-->
    <div class="card userPostsCard">
        <div class="card-header" style="min-height:60px; position: relative;">
            <a asp-controller="Dashboard" asp-action="Post" class="navbar-brand card-header-link"></a>
            <div class="infoPost">
                <div style="float:left; display:inline-block;">
                    <a asp-controller="Profile" asp-action="Index" style="pointer-events:auto; position: relative;">
                        <div class="profilePicPost">
                            <img src="~/img/avatars/Avatar2.png" class="profileImage" id="uploadProfilePicture-previewImg">
                        </div>
                    </a>
                </div>
                <div class="userInfo">
                    <span class="usernamePost btn"><a asp-controller="Profile" asp-action="Index" style="display:inline-block; pointer-events:auto; position: relative;">Username</a></span>
                    <span class="datePost">Posted on 11/04/23</span>
                </div>
            </div>
        </div>
        <div>
            <div class="row cardInfo postCardInfo">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        <div class="card-footer row">
            <div class="col-6">
                <button class="btn btnLike" for="like"><i class="fa-solid fa-thumbs-up" style="margin-right:10px;"></i>Like</button>
            </div>
            <div class="col-6">
                <a asp-controller="Dashboard" asp-action="Post" class="btn btnComment" for="comment"><i class="fa-solid fa-comment" style="margin-right:10px;"></i>Comment</a>
            </div>
        </div>
    </div>

    <h5 class="text-muted subtitle" style="margin-top:40px;">Recently Posted</h5>
    <!--3rd Post-->
    <div class="card userPostsCard">
        <div class="card-header" style="min-height:60px; position: relative;">
            <a asp-controller="Dashboard" asp-action="Post" class="navbar-brand card-header-link"></a>
            <div class="infoPost">
                <div style="float:left; display:inline-block;">
                    <a asp-controller="Profile" asp-action="Index" style="pointer-events:auto; position: relative;">
                        <div class="profilePicPost">
                            <img src="~/img/avatars/Avatar2.png" class="profileImage" id="uploadProfilePicture-previewImg">
                        </div>
                    </a>
                </div>
                <div class="userInfo">
                    <span class="usernamePost btn"><a asp-controller="Profile" asp-action="Index" style="display:inline-block; pointer-events:auto; position: relative;">Username</a></span>
                    <span class="datePost">Posted on 11/04/23</span>
                </div>
            </div>
        </div>
        <div>
            <div class="row cardInfo postCardInfo">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        <div class="card-footer row">
            <div class="col-6">
                <button class="btn btnLike" for="like"><i class="fa-solid fa-thumbs-up" style="margin-right:10px;"></i>Like</button>
            </div>
            <div class="col-6">
                <a asp-controller="Dashboard" asp-action="Post" class="btn btnComment" for="comment"><i class="fa-solid fa-comment" style="margin-right:10px;"></i>Comment</a>
            </div>
        </div>
    </div>
</div>

<!--BOTTOM SPACE-->
<div style="height:50px;"></div>

<!--CREATE POST MODAL-->
<div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center; display:flex;">
                <h5 class="modal-title" style="flex:1;">
                    Write a post
                    <span class="text-muted" style="font-size: 15px; display:block;">Junior</span>
                </h5>
                <button type="button" class="close fa-solid fa-xmark" data-dismiss="modal" aria-label="Close" style="font-size:1.5rem; padding-top:1.1rem;">
                </button>
            </div>
            <div class="modal-body">
                <textarea class="textbox createPostTextarea" rows="10" placeholder="Share to Thomasians..."></textarea>
            </div>
            <div class="modal-footer card-footer card-footer-createPost">
                <button type="button" class="btn fa-regular fa-image btnPic"></button>
                <button type="button" class="btn fa-solid fa-video btnVid"></button>
                <button type="submit" class="btn btn-info btn-md center blueButton btnPost" data-dismiss="modal" id="btnPost">Post</button>
            </div>
        </div>
    </div>
</div>