@{
    ViewData["Title"] = "Login";
    ViewData["CSSFile"] = "~/css/Login.css";
    @model ThomasianMemoir.ViewModels.LoginViewModel;
}
<section class="section1">
<div class="details">
<!--Login-->
  <form name="loginForm" id="loginForm" class="loginForm" asp-action="Login" method="POST">
    <div class="card col-xxl-7">
        <h3 class="card-header" style="padding-top: 16px;">Log In to Thomasian Memoir</h3>
        <div class="row cardInfo" style="margin-top:20px;">
            <span class="text-danger" style="text-align:center;" id="spanErr">@Html.ValidationMessage("loginErr")</span>
            <div class="col-md-5">
                <label asp-for="Username" for="text" class="form-label" style="padding:0; margin-bottom:0; margin-top:15px;">Username</label>
                <span asp-validation-for="Username" class="errorSpan"></span>
            </div>
            <div class="col-md-7">
                <input asp-for="Username" type="text" class="form-control textbox" style="margin-top:8px;" id="username" name="username" placeholder="Username">
            </div>
            <div class="col-md-5">
                <label asp-for="Password" for="password" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">Password</label>
                <span asp-validation-for="Password" class="errorSpan"></span>
            </div>
            <div class="col-md-7">
                <input asp-for="Password" type="password" class="form-control textbox" style="margin-top:8px;" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-check" style="margin-top:5px; margin-left:auto; margin-right:auto; width:200px; padding-left:50px; padding-right:0;">
                <input asp-for="RememberMe" type="checkbox" class="form-check-input" style="margin-top:8px;">
                <label asp-for="RememberMe" class="form-label form-check-label" style="font-size:18px; padding-top:3px;"></label>
            </div>
        </div>
        <div style="padding-top:15px; padding-bottom:30px; text-align:center;">
            <a asp-controller="Dashboard" asp-action="Homepage" target="_self" style="color: rgb(0, 0, 0); text-decoration: none; width: 300px;"><input type="submit" class="btn btn-info btn-md center blueButton btnForm" id="btnLogin" name="btnEditPersonalInfo" value="Log In"></a>
            <a href="#" data-toggle="modal" data-target="#forgotPasswordModal" target="_self" class="btn-link" style="display:block; text-decoration:none; color:#0ba2b5; margin-top:10px;">Forgot Password</a>
        </div>
    </div>
  </form>
</div>
</section>

<!--CHANGE PASSWORD MODAL-->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center; display:flex;">
                <h5 class="modal-title" style="flex:1;">Forgot Password</h5>
                <button type="button" class="close fa-solid fa-xmark" data-dismiss="modal" aria-label="Close" style="font-size:1.5rem; padding-top:1.1rem;">
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-md-5">
                    <label for="email" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">Email Address</label>
                    <span class="errorSpan">Error Message Here</span>
                </div>
                <div class="col-md-7">
                    <input type="email" class="form-control textbox" style="margin-top:8px;" id="email" name="email" placeholder="Email Address">
                </div>
                <div class="col-md-5">
                    <label for="verificationCode" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">Verification Code</label>
                    <span class="errorSpan">Error Message Here</span>
                </div>
                <div class="col-md-7 input-group" style="align-items:flex-start;">
                    <input type="text" class="form-control textbox" style="margin-top:8px;" id="verificationCode" name="verificationCode" placeholder="Verification Code">
                    <div class="input-group-append">
                        <button type="submit" style="color: rgb(0, 0, 0); text-decoration:none; margin-top:8px; width:80px; height:41px;" class="btn btn-info btn-md center blueButton" id="btnSend">Send</button>
                    </div>
                </div>
                <div class="col-md-5">
                    <label for="newpassword" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">New Password</label>
                    <span class="errorSpan">Error Message Here</span>
                </div>
                <div class="col-md-7">
                    <input type="password" class="form-control textbox" style="margin-top:8px;" id="newpassword" name="newpassword" placeholder="New Password">
                </div>
                <div class="col-md-5">
                    <label for="confirmnewpassword" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">Confirm New Password</label>
                    <span class="errorSpan">Error Message Here</span>
                </div>
                <div class="col-md-7">
                    <input type="password" class="form-control textbox" style="margin-top:8px;" id="confirmnewpassword" placeholder="Confirm New Password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning btn-md yellowButton" data-dismiss="modal" id="btnSaveBanner">Submit</button>
                <button type="button" class="btn btn-light border border-dark btn-md whiteButton" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>