@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
<p>This is the Login Page.</p>
<a asp-area="" asp-controller="Instructor" asp-action="Index" class="btn btn-primary" style="padding-left:1rem; padding-right:1rem; margin:1rem;">See Instructor List</a>