@{
    ViewData["Title"] = "Login";
    ViewData["CSSFile"] = "~/css/Login.css";
    @model ThomasianMemoir.ViewModels.LoginViewModel;
}
<section class="section1">
<div class="details">
<!--Login-->
  <form name="loginForm" id="loginForm" class="loginForm" asp-action="Login" method="POST">
    <div class="card col-xxl-7">
        <h3 class="card-header" style="padding-top: 16px;">Log In to Thomasian Memoir</h3>
        <div class="row cardInfo" style="margin-top:20px;">
            <span class="text-danger" style="text-align:center;" id="spanErr">@Html.ValidationMessage("loginErr")</span>
            <div class="col-md-5">
                <label asp-for="Username" for="text" class="form-label" style="padding:0; margin-bottom:0; margin-top:15px;">Username</label>
                <span asp-validation-for="Username" class="errorSpan"></span>
            </div>
            <div class="col-md-7">
                <input asp-for="Username" type="text" class="form-control textbox" style="margin-top:8px;" id="username" name="username" placeholder="Username">
            </div>
            <div class="col-md-5">
                <label asp-for="Password" for="password" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">Password</label>
                <span asp-validation-for="Password" class="errorSpan"></span>
            </div>
            <div class="col-md-7">
                <input asp-for="Password" type="password" class="form-control textbox" style="margin-top:8px;" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-check" style="margin-top:5px; margin-left:auto; margin-right:auto; width:200px; padding-left:50px; padding-right:0;">
                <input asp-for="RememberMe" type="checkbox" class="form-check-input" style="margin-top:8px;">
                <label asp-for="RememberMe" class="form-label form-check-label" style="font-size:18px; padding-top:3px;"></label>
            </div>
        </div>
        <div style="padding-top:15px; padding-bottom:30px; text-align:center;">
            <a asp-controller="Dashboard" asp-action="Homepage" target="_self" style="color: rgb(0, 0, 0); text-decoration: none; width: 300px;"><input type="submit" class="btn btn-info btn-md center blueButton btnForm" id="btnLogin" name="btnEditPersonalInfo" value="Log In"></a>
            <a href="#" data-toggle="modal" data-target="#forgotPasswordModal" target="_self" class="btn-link" style="display:block; text-decoration:none; color:#0ba2b5; margin-top:10px;" onclick="clearAllModalFields()">Forgot Password</a>
        </div>
    </div>
  </form>
</div>
</section>

<!--CHANGE PASSWORD MODAL-->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center; display:flex;">
                <h5 class="modal-title" style="flex:1;">Forgot Password</h5>
                <button type="button" class="close fa-solid fa-xmark" data-dismiss="modal" aria-label="Close" style="font-size:1.5rem; padding-top:1.1rem;" onclick="clearAllModalFields()">
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="ForgotPassword" method="POST" id="forgotPassword" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-lg-5">
                            <label asp-for="Email" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">Send Verification Email</label>
                            <span asp-validation-for="Email" class="errorSpan" id="emailVerificationSpan"></span>
                            <span class="text-success" id="emailVerificationMessage"></span>
                        </div>
                        <div class="col-lg-7 input-group" style="align-items:flex-start;">
                            <input asp-for="Email" type="text" class="form-control textbox" style="margin-top:8px;" id="emailVerification" name="Email" placeholder="Email Address">
                            <div class="input-group-append">
                                <button type="submit" style="color: rgb(0, 0, 0); text-decoration:none; margin-top:8px; width:80px; height:41px;" class="btn btn-info btn-md center blueButton" id="btnSend" onclick="forgotPassword()">Send</button>
                            </div> 
                        </div>
                    </div>
                </form>
                <form asp-action="ResetPassword" method="POST" id="resetPassword" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-lg-5">
                            <label asp-for="ResetPassword.Email" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">Retype Email Address</label>
                            <span asp-validation-for="ResetPassword.Email" class="errorSpan" id="emailResetPasswordSpan"></span>
                        </div>
                        <div class="col-lg-7">
                            <input asp-for="ResetPassword.Email" type="text" class="form-control textbox" style="margin-top:8px;" id="emailResetPassword" name="ResetPassword.Email" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <label asp-for="ResetPassword.VerificationCode" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">Verification Code</label>
                            <span asp-validation-for="ResetPassword.VerificationCode" class="errorSpan" id="verificationCodeSpan"></span>
                        </div>
                        <div class="col-lg-7">
                            <input asp-for="ResetPassword.VerificationCode" type="text" class="form-control textbox" style="margin-top:8px;" id="verificationCode" name="ResetPassword.VerificationCode" placeholder="Verification Code">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <label asp-for="ResetPassword.Password" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">New Password</label>
                            <span asp-validation-for="ResetPassword.Password" class="errorSpan" id="newPasswordSpan"></span>
                        </div>
                        <div class="col-lg-7">
                            <input asp-for="ResetPassword.Password" type="password" class="form-control textbox" style="margin-top:8px;" id="newPassword" name="ResetPassword.Password" placeholder="New Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <label asp-for="ResetPassword.ConfirmPassword" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">Confirm New Password</label>
                            <span asp-validation-for="ResetPassword.ConfirmPassword" class="errorSpan" id="confirmPasswordSpan"></span>
                        </div>
                        <div class="col-lg-7">
                            <input asp-for="ResetPassword.ConfirmPassword" type="password" class="form-control textbox" style="margin-top:8px;" id="confirmPassword" name="ResetPassword.ConfirmPassword" placeholder="Confirm New Password">
                        </div>
                    </div>
                    <div asp-validation-summary="All" class="errorSpan" id="errorResetPassword" style="padding-bottom:20px; padding-top:20px;"></div>
                    <button type="submit" class="btn btn-warning btn-md yellowButton" id="btnSubmit" onclick="resetPassword()" style="display:none;">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-md yellowButton" id="btnSubmitUI" onclick="triggerBtnSubmit()">Submit</button>
                <button type="button" class="btn btn-light border border-dark btn-md whiteButton" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function clearAllModalFields() {
            document.getElementById('spanErr').textContent = '';
            document.getElementById('emailVerificationMessage').textContent = '';
            document.getElementById('emailVerificationSpan').textContent = '';
            document.getElementById('emailResetPasswordSpan').textContent = '';
            document.getElementById('verificationCodeSpan').textContent = '';
            document.getElementById('newPasswordSpan').textContent = '';
            document.getElementById('confirmPasswordSpan').textContent = '';
            document.getElementById('errorResetPassword').textContent = '';
        }

        //Submit forgotPassword form
        function forgotPassword() {
            var formData = new FormData(document.getElementById(`forgotPassword`));
            formData.forEach(function (value, key) {
                console.log(key, value);
            });

            var emailVerificationMessage = document.getElementById('emailVerificationMessage');
            var emailVerificationSpan = document.getElementById('emailVerificationSpan');
            
            if ($(`#emailVerification`).val() == "" || $(`#emailVerification`).val() == null) {
                emailVerificationSpan.textContent = 'This field is required';
            } else if (/(.+)@@(.+){2,}\.(.+){2,}/.test($(`#emailVerification`).val()) == false) {
                emailVerificationSpan.textContent = 'Invalid email address';
            } else {
                emailVerificationMessage.textContent = '';
                emailVerificationSpan.textContent = '';

                $(`#forgotPassword`).submit(function (e) {
                    console.log('Form submitted');
                    e.preventDefault();

                    $.ajax({
                        url: '/Home/ForgotPassword',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        headers: {
                            'RequestVerificationToken': $('input[name=__RequestVerificationToken]').val()
                        },
                        success: function (data) {
                            if (data.success) {
                                console.log(data.message);
                                emailVerificationMessage.textContent = `${data.message}`;
                                emailVerificationMessage.style.display = 'relative';
                                emailVerificationSpan.textContent = '';
                            } else {
                                console.log(data.error);
                                emailVerificationSpan.textContent = `${data.error}`;
                                emailVerificationSpan.style.display = 'relative';
                                emailVerificationMessage.textContent = '';

                            }
                        },
                        error: function (xhr, status, error) {
                            if (xhr.responseJSON && xhr.responseJSON.errors) {
                                var errorMessages = xhr.responseJSON.errors;
                                for (var key in errorMessages) {
                                    if (errorMessages.hasOwnProperty(key)) {
                                        $(`#${key}`).text(errorMessages[key]).css('display', 'relative');
                                    }
                                }
                                console.error('Error sending verification email', status, error);
                            }
                            console.error('Error sending verification email', status, error);
                        }
                    });
                });
            }
        }

        $(document).on('submit', '[id^=forgotPassword]', function (e) {
            e.preventDefault();
            return false;
        });

        function triggerBtnSubmit() {
            document.getElementById('btnSubmit').click();
        }

        //Submit resetPassword form
        function resetPassword() {
            var formData = new FormData(document.getElementById(`resetPassword`));
            formData.forEach(function (value, key) {
                console.log(key, value);
            });

            var errorResetPassword = document.getElementById('errorResetPassword');
            errorResetPassword.textContent = '';

            var nullCount = 0;
            document.getElementById('emailResetPasswordSpan').textContent = '';
            document.getElementById('verificationCodeSpan').textContent = '';
            document.getElementById('newPasswordSpan').textContent = '';
            document.getElementById('confirmPasswordSpan').textContent = '';
            var verificationCode = document.getElementById('verificationCode').value;

            if ($(`#emailResetPassword`).val() == "" || $(`#emailResetPassword`).val() == null) {
                document.getElementById('emailResetPasswordSpan').textContent = 'This field is required';
                nullCount++;
            } else if (/(.+)@@(.+){2,}\.(.+){2,}/.test($(`#emailResetPassword`).val()) == false) {
                document.getElementById('emailResetPasswordSpan').textContent = 'Invalid email address';
                nullCount++;
            }
            if ($(`#verificationCode`).val() == "" || $(`#verificationCode`).val() == null) {
                document.getElementById('verificationCodeSpan').textContent = 'This field is required';
                nullCount++;
            } else if (verificationCode.length != 6 || isNaN(verificationCode)) {
                document.getElementById('verificationCodeSpan').textContent = 'Must be 6 digits';
                nullCount++;
            }
            if ($(`#newPassword`).val() == "" || $(`#newPassword`).val() == null) {
                document.getElementById('newPasswordSpan').textContent = 'This field is required';
                nullCount++;
            } else if ($(`#newPassword`).val().length < 8) {
                document.getElementById('newPasswordSpan').textContent = 'Password must be 8 characters';
                nullCount++;
            }
            if ($(`#confirmPassword`).val() == "" || $(`#confirmPassword`).val() == null) {
                document.getElementById('confirmPasswordSpan').textContent = 'This field is required';
                nullCount++;
            } else if ($(`#confirmPassword`).val() != $(`#newPassword`).val()) {
                document.getElementById('confirmPasswordSpan').textContent = 'Password and confirm password must match';
                nullCount++;
            }

            if (nullCount == 0) {
                $(`#resetPassword`).submit(function (e) {
                    console.log('Form submitted');
                    e.preventDefault();

                    $.ajax({
                        url: '/Home/ResetPassword',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        headers: {
                            'RequestVerificationToken': $('input[name=__RequestVerificationToken]').val()
                        },
                        success: function (data) {
                            if (data.success) {
                                location.reload();
                            } else {
                                console.log(data.error);
                                errorResetPassword.textContent = `${data.error}`;
                                errorResetPassword.style.display = 'relative';
                                document.getElementById('emailResetPasswordSpan').textContent = '';
                                document.getElementById('verificationCodeSpan').textContent = '';
                                document.getElementById('newPasswordSpan').textContent = '';
                                document.getElementById('confirmPasswordSpan').textContent = '';
                            }
                        },
                        error: function (xhr, status, error) {
                            if (xhr.responseJSON && xhr.responseJSON.errors) {
                                var errorMessages = xhr.responseJSON.errors;
                                for (var key in errorMessages) {
                                    if (errorMessages.hasOwnProperty(key)) {
                                        $(`#${key}`).text(errorMessages[key]).css('display', 'relative');
                                    }
                                }
                                console.error('Error resetting password', status, error);
                            }
                        }
                    });
                });
            }   
        }

        $(document).on('submit', '[id^=resetPassword]', function (e) {
            e.preventDefault();
            return false;
        });
    </script>
}