@{
    ViewData["Title"] = "Registration";
    ViewData["CSSFile"] = "~/css/Registration.css";
    ViewData["JSFile"] = "~/js/ChooseProfileAndBanner.js";
    @model Users;
}
<section class="section1">
<div class="details">
  <!--Registration-->
  <form name="regForm" id="regForm" class="regForm" asp-action="Registration" method="POST" enctype="multipart/form-data">
    <div class="card">
        <h3 class="card-header" style="padding-top: 16px;">
        Register an Account</h3>
        <div class="row cardInfo" style="margin-top:20px;">
            <span class="text-danger" style="text-align:center;" id="spanErr">@Html.ValidationMessage("regErr")</span>
            <div class="col-md-5">
                <label asp-for="FirstName" class="form-label" style="padding:0; margin-bottom:0; margin-top:15px;">First Name</label>
                <span asp-validation-for="FirstName" class="errorSpan" id="firstnameError"></span>
            </div>
            <div class="col-md-7">
                <input asp-for="FirstName" type="text" class="form-control textbox" style="margin-top:8px;" id="firstname" name="firstname" placeholder="First Name">
            </div>
            <div class="col-md-5">
                <label asp-for="LastName" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">Last Name</label>
                <span asp-validation-for="LastName" class="errorSpan" id="lastnameError"></span>
            </div>
            <div class="col-md-7">
                <input asp-for="LastName" type="text" class="form-control textbox" style="margin-top:8px;" id="lastname" name="lastname" placeholder="Last Name">
            </div>
            <div class="col-md-5">
                <label asp-for="Username" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">Username</label>
                <span asp-validation-for="Username" class="errorSpan" id="usernameError"></span>
            </div>
            <div class="col-md-7">
                <input asp-for="Username" type="text" class="form-control textbox" style="margin-top:8px;" id="username" name="username" placeholder="Username">
            </div>
            <div class="col-md-5">
                <label asp-for="Email" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">Email Address</label>
                <span asp-validation-for="Email" class="errorSpan" id="emailError"></span>
            </div>
            <div class="col-md-7">
                <input asp-for="Email" type="text" class="form-control textbox" style="margin-top:8px;" id="email" name="email" placeholder="Email Address">
            </div>
            <div class="col-md-5">
                <label asp-for="Password" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">Password</label>
                <span asp-validation-for="Password" class="errorSpan" id="passwordError"></span>
            </div>
            <div class="col-md-7">
                <input asp-for="Password" type="password" class="form-control textbox" style="margin-top:8px;" id="password" name="password" placeholder="Password">
            </div>

            <div class="col-md-5">
                <label asp-for="YearLevel" class="form-label" style="padding:0; margin-top:15px; margin-bottom:0;">Year Level</label>
                <span asp-validation-for="YearLevel" vel" class="errorSpan" id="yearLevelError"></span>
            </div>

            <div class="col-md-7">
                <select id="yearLevel" class="form-select form-control dropdown option-placeholder">
                    <option value="placeholder" disabled selected hidden>Select a year level</option>
                    <option value="1st Year">1st Year</option>
                    <option value="2nd Year">2nd Year</option>
                    <option value="3rd Year">3rd Year</option>
                    <option value="4th Year">4th Year</option>
                    <option value="5th Year">5th Year</option>
                </select>
                <input asp-for="YearLevel" type="text" class="form-control textbox" style="margin-top:8px; display:none;" id="yearLevelTxt">
            </div>

            <div class="col-md-5">
                <label for="changeProfile" class="form-label" style="padding:0; margin-top:15px; margin-bottom:5px;">Profile Picture</label><br />
                <a href="javascript:void(0)" target="_self" style="color: rgb(0, 0, 0); text-decoration:none;">
                    <input type="button" class="btn btn-warning btn-md yellowButton" style="width:150px; margin-bottom:20px;" id="btnProfile" name="btnProfile" value="Choose Profile" data-toggle="modal" data-target="#changeProfileModal">
                </a>
                <div class="profilePic">
                    <img src="~/img/Avatars/Avatar1.png" class="profileImage" id="uploadProfilePicture-previewImg">
                </div>
            </div>
            
            <div class="col-md-7">
                <label for="changeBanner" class="form-label" style="padding:0; margin-top:15px; margin-bottom:5px;">Banner</label><br/>
                <a href="javascript:void(0)" target="_self" style="color: rgb(0, 0, 0); text-decoration:none;">
                    <input type="button" class="btn btn-warning btn-md yellowButton" style="width:150px; margin-bottom:20px;" id="btnBanner" name="btnBanner" value="Choose Banner" data-toggle="modal" data-target="#changeBannerModal">
                </a>
                <div class="banner">
                    <img src="~/img/Banners/Banner1.png" id="uploadBannerPhoto-previewImg">
                </div>
            </div>
        </div>
        <div style="padding-top:30px; padding-bottom:30px; text-align:center;">
            <a href="#" target="_self" style="color: rgb(0, 0, 0); text-decoration: none; width: 300px;"><input type="submit" class="btn btn-info btn-md center blueButton btnForm" id="btnRegister" name="btnEditPersonalInfo" value="Create Account"></a>
            <a asp-controller="Home" asp-action="Login" target="_self" class="btn-link" style="display:block; text-decoration:none; color:#0ba2b5; margin-top:10px;">Log in to an account</a>
        </div>
    </div>
  </form>
</div>
</section>

<!--MODALS-->
<!--Change Banner Modal-->
<div class="modal fade" id="changeBannerModal" tabindex="-1" aria-labelledby="changeBannerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeBannerModalLabel">Change Banner</h5>
                <button type="button" class="close fa-solid fa-xmark" data-dismiss="modal" aria-label="Close" style="font-size:1.5rem; padding-top:1.1rem;">
                </button>
            </div>
            <div class="modal-body text-center" style="word-break:break-all; padding-bottom:0; padding-left:inherit; padding-right:0;">
                <!--Button Group-->
                <div class="btn-group btnGroupBanner" role="group" style="width:100%;">
                    <!--Choose Banner-->
                    <input type="radio" class="btn-check btnBannerRadio" name="btnBanner" id="btnChooseBanner" autocomplete="off" checked>
                    <label class="btn btn-outline-primary btnGroupButton btnBannerLabel" for="btnChooseBanner" data-tab-target="#sampleBanners" style="border-top-left-radius:50px; border-bottom-left-radius:50px;">Choose a Banner</label>
                    <div class="row cardInfo btn-group btnBannerContent" role="group" id="sampleBanners" data-tab-content style="margin-top:20px; margin-bottom:0; overflow-y:auto; max-height:60vh;">
                        <div class="bannerdiv">
                            <div class="col-lg-6 px-2" style="padding-top:0.2rem; padding-bottom:0.5rem;">
                                <button type="button" class="btnPhoto sampleBanner" id="yellowBanner"><img src="~/img/Banners/Banner1.png" id="yellowBannerImg" alt="Yellow Banner" class="sampleBanner"></button>
                            </div>
                            <div class="col-lg-6 p-2">
                                <button type="button" class="btnPhoto sampleBanner" id="whiteBanner"><img src="~/img/Banners/Banner2.png" id="whiteBannerImg" alt="White Banner" class="sampleBanner"></button>
                            </div>
                        </div>
                        <div class="bannerdiv">
                            <div class="col-lg-6 p-2">
                                <button type="button" class="btnPhoto sampleBanner" id="brownBanner"><img src="~/img/Banners/Banner3.png" id="brownBannerImg" alt="Brown Banner" class="sampleBanner"></button>
                            </div>
                            <div class="col-lg-6 px-2" style="padding-top:0.6rem; padding-bottom:1.2rem;">
                                <button type="button" class="btnPhoto sampleBanner" id="blueBanner"><img src="~/img/Banners/Banner4.png" id="blueBannerImg" alt="Blue Banner" class="sampleBanner"></button>
                            </div>
                        </div>
                    </div>
                    <!--Upload Banner Photo-->
                    <input type="radio" class="btn-check btnBannerRadio" name="btnBanner" id="btnUploadBanner" autocomplete="off">
                    <label class="btn btn-outline-primary btnGroupButton btnBannerLabel" for="btnUploadBanner" data-tab-target="#uploadBanner" style="border-top-right-radius:50px; border-bottom-right-radius:50px;">Upload a Photo</label>
                    <div id="uploadBanner" data-tab-content style="text-align:center; margin:3rem;" class="btnBannerContent">
                        <label class="btn blueButton btnUploadPhoto" for="uploadBannerPhoto"><i class="fa-solid fa-upload" style="margin-right:10px;"></i>Upload Photo</label>
                        <input type="file" id="uploadBannerPhoto" name="uploadBannerPhoto" style="color:#00a4b9; display:none;">
                        <span class="fileSelectedBanner" style="color:#00a4b9;"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning btn-md yellowButton" data-dismiss="modal" id="btnSaveBanner">Save</button>
                <button type="button" class="btn btn-light border border-dark btn-md whiteButton" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Change Profile Modal-->
<div class="modal fade" id="changeProfileModal" tabindex="-1" aria-labelledby="changeProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modalDialogProfile">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeProfileModalLabel">Change Profile Picture</h5>
                <button type="button" class="close fa-solid fa-xmark" data-dismiss="modal" aria-label="Close" style="font-size:1.5rem; padding-top:1.1rem;">
                </button>
            </div>
            <div class="modal-body text-center" style="word-break:break-all; padding-bottom:0; padding-left:inherit; padding-right:0;">
                <!--Button Group-->
                <div class="btn-group btnGroupProfile" role="group">
                    <!--Choose Avatar-->
                    <input type="radio" class="btn-check btnProfileRadio" name="btnProfile" id="btnChooseAvatar" autocomplete="off" checked>
                    <label class="btn btn-outline-primary btnGroupButton btnProfileLabel" for="btnChooseAvatar" data-tab-target="#sampleAvatars" style="border-top-left-radius:50px; border-bottom-left-radius:50px;">Choose an Avatar</label>
                    <div class="row cardInfo btn-group btnProfileContent" role="group" id="sampleAvatars" data-tab-content style="margin-top:20px; margin-bottom:0; overflow-y:auto; max-height:60vh;">
                        <div class="row justify-content-center" style="margin-bottom:10px; margin-left:auto; margin-right:auto;">
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar1"><img src="~/img/Avatars/Avatar1.png" id="avatar1Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar2"><img src="~/img/Avatars/Avatar2.png" id="avatar2Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar3"><img src="~/img/Avatars/Avatar3.png" id="avatar3Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar4"><img src="~/img/Avatars/Avatar4.png" id="avatar4Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar5"><img src="~/img/Avatars/Avatar5.png" id="avatar5Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar6"><img src="~/img/Avatars/Avatar6.png" id="avatar6Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar7"><img src="~/img/Avatars/Avatar7.png" id="avatar7Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar8"><img src="~/img/Avatars/Avatar8.png" id="avatar8Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar9"><img src="~/img/Avatars/Avatar9.png" id="avatar9Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar10"><img src="~/img/Avatars/Avatar10.png" id="avatar10Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar11"><img src="~/img/Avatars/Avatar11.png" id="avatar11Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar12"><img src="~/img/Avatars/Avatar12.png" id="avatar12Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar13"><img src="~/img/Avatars/Avatar13.png" id="avatar13Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar14"><img src="~/img/Avatars/Avatar14.png" id="avatar14Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar15"><img src="~/img/Avatars/Avatar15.png" id="avatar15Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar16"><img src="~/img/Avatars/Avatar16.png" id="avatar16Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar17"><img src="~/img/Avatars/Avatar17.png" id="avatar17Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar18"><img src="~/img/Avatars/Avatar18.png" id="avatar18Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar19"><img src="~/img/Avatars/Avatar19.png" id="avatar19Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar20"><img src="~/img/Avatars/Avatar20.png" id="avatar20Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar21"><img src="~/img/Avatars/Avatar21.png" id="avatar21Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar22"><img src="~/img/Avatars/Avatar22.png" id="avatar22Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar23"><img src="~/img/Avatars/Avatar23.png" id="avatar23Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar24"><img src="~/img/Avatars/Avatar24.png" id="avatar24Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar25"><img src="~/img/Avatars/Avatar25.png" id="avatar25Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar26"><img src="~/img/Avatars/Avatar26.png" id="avatar26Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar27"><img src="~/img/Avatars/Avatar27.png" id="avatar27Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar28"><img src="~/img/Avatars/Avatar28.png" id="avatar28Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar29"><img src="~/img/Avatars/Avatar29.png" id="avatar29Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar30"><img src="~/img/Avatars/Avatar30.png" id="avatar30Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar31"><img src="~/img/Avatars/Avatar31.png" id="avatar31Img"></button>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 p-2">
                                <button type="button" class="btnPhoto sampleAvatar" id="avatar32"><img src="~/img/Avatars/Avatar32.png" id="avatar32Img"></button>
                            </div>
                        </div>
                    </div>
                    <!--Upload Profile Picture-->
                    <input type="radio" class="btn-check btnProfileRadio" name="btnProfile" id="btnUploadProfile" autocomplete="off">
                    <label class="btn btn-outline-primary btnGroupButton btnProfileLabel" for="btnUploadProfile" data-tab-target="#uploadProfile" style="border-top-right-radius:50px; border-bottom-right-radius:50px;">Upload a Photo</label>
                    <div id="uploadProfile" data-tab-content style="text-align:center; margin:3rem;" class="btnProfileContent">
                        <label class="btn blueButton btnUploadPhoto" for="uploadProfilePicture"><i class="fa-solid fa-upload" style="margin-right:10px;"></i>Upload Photo</label>
                        <input type="file" id="uploadProfilePicture" name="uploadProfilePicture" style="color:#00a4b9; display:none;">
                        <span class="fileSelectedProfile" style="color:#00a4b9;"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning btn-md yellowButton" data-dismiss="modal" id="btnSaveProfile">Save</button>
                <button type="button" class="btn btn-light btn-md border border-dark whiteButton" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    //Dropdown option with placeholder text color
    const select = document.querySelector('select');
    
    function changeOptionColor() {
        if (document.getElementById('yearLevel').value != "placeholder") {
            select.classList.remove('option-placeholder');
            select.classList.add('option-color');
        }
    }

    select.addEventListener("click", function () {
        changeOptionColor();
        const span = document.getElementById("yearLevelTxt");
        const select = document.getElementById("yearLevel");
        var yearLevelSelect = select.value;
        //var studentClassification = select.options[select.selectedIndex].text;
        if (yearLevelSelect == "1st Year") {
            span.value = "1st Year";
        } else if (yearLevelSelect == "2nd Year") {
            span.value = "2nd Year";
        } else if (yearLevelSelect == "3rd Year") {
            span.value = "3rd Year";
        } else if (yearLevelSelect == "4th Year") {
            span.value = "4th Year";
        } else if (yearLevelSelect == "5th Year") {
            span.value = "5th Year";
        }
    });

    select.addEventListener("change", function () {
        changeOptionColor();
    });

    window.addEventListener("load", (event) => { 
        const span = document.getElementById("yearLevelTxt").value;
        if (span.length>0){
            select.value = span;
        }
    });

</script>